numpy==1.26.4
nlopt==2.7.1
cadquery==2.4.0
bpy==4.0.0; python_version < '3.11'
fake-bpy-module-4.0; python_version < '3.11'
bpy==4.1.0; python_version >= '3.11'
fake-bpy-module-4.1; python_version >= '3.11'
trimesh==4.4.8
mathutils
manifold3d
pillow
shapely
scipy
networkx
pyglet<2
fonttools